In [1]:
import re
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#настройки для подключения к БД
engine = create_engine('postgresql://postgres:123@localhost:5432/hors')

In [3]:
# считаем данные из файла и запишем в DataFrame
f = open('outlets.sql', encoding='utf-8')
data = [list() for _ in range(8)]

for line in f:
    if line[:1] == '(':
        workline = line[1:-3].split('\'')
        data[0].append(workline[0].split(',')[0])
        data[1].append(workline[1])   
        data[2].append(workline[3])
        data[3].append(workline[5])
        data[4].append(workline[6].strip(',').strip())
        # копии для преобразований
        data[5].append(workline[1].lower())
        data[6].append(workline[3].lower())
        data[7].append(workline[5].lower())
f.close;
outlets = pd.DataFrame(data).T
outlets.head(5)

,0,1,2,3,4,5,6,7
0,1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.Глубокий, ул.Артёма 44",NULL,ростов-на-дону,ип гаврилов с.а.,"п.глубокий, ул.артёма 44"
1,2,Ростов-на-Дону,ИП Малышева,-,NULL,ростов-на-дону,ип малышева,-
2,3,Ростов-на-Дону,Абасян А.П. ИП,он же,NULL,ростов-на-дону,абасян а.п. ип,он же
3,4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,NULL,ростов-на-дону,"азатян н,с. ип ул. ленина",он же
4,5,Ростов-на-Дону,Айдинов В.Я.,он же,NULL,ростов-на-дону,айдинов в.я.,он же

In [4]:
#избавимся от лишних символов
for i in range(5,8):outlets[i] = outlets[i].apply(lambda x: re.sub(r'\\','', x))
for i in range(5,8):outlets[i] = outlets[i].apply(lambda x: re.sub('[<>/",\.-]','', x))
for i in range(5,8):outlets[i] = outlets[i].apply(lambda x: x.replace(' ', ''))
outlets.head(5)

,0,1,2,3,4,5,6,7
0,1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.Глубокий, ул.Артёма 44",NULL,ростовнадону,ипгавриловса,пглубокийулартёма44
1,2,Ростов-на-Дону,ИП Малышева,-,NULL,ростовнадону,ипмалышева,
2,3,Ростов-на-Дону,Абасян А.П. ИП,он же,NULL,ростовнадону,абасянапип,онже
3,4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,NULL,ростовнадону,азатяннсипулленина,онже
4,5,Ростов-на-Дону,Айдинов В.Я.,он же,NULL,ростовнадону,айдиноввя,онже

In [5]:
#убираем дубликаты по совпадению 3 полей
outlets_clean = outlets.drop_duplicates(subset=[5,6,7]).reset_index().drop(['index',0], axis=1)

In [6]:
outlets_clean.shape

(15081, 7)

In [7]:
outlets_clean['new_index'] = outlets_clean.index + 1

In [8]:
#обновим внешний ключ (колонка outlet_clean_id) в тавблице outlets
outlets_updated = outlets.drop([4], axis=1).merge(outlets_clean[[5,6,7,'new_index']], how='left', on=[5,6,7])

In [9]:
outlets_updated = outlets_updated.drop([5,6,7], axis=1).rename({0:'id'}, axis=1).set_index('id')
outlets_updated.rename({1:'City_distributor', 2:'Trade_point', 3:'Addres', 'new_index':'outlet_clean_id'}, axis=1, inplace=True)
#ДатаФрейм outlet c обновленным outlet_clean_id
outlets_updated

,City_distributor,Trade_point,Addres,outlet_clean_id
id,,,,
1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.Глубокий, ул.Артёма 44",1
2,Ростов-на-Дону,ИП Малышева,-,2
3,Ростов-на-Дону,Абасян А.П. ИП,он же,3
4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,4
5,Ростов-на-Дону,Айдинов В.Я.,он же,5
...,...,...,...,...
20204,Ростов-на-Дону,Яровой А.Т.ИП,"346535, Ростовская обл, Шахты г, Кошевого ул, ...",13696
20205,Ростов-на-Дону,"Яровой В.Т. ИП м-н \""Весна\""",-,13698
20206,Ростов-на-Дону,Ярута С.М. ИП,"347332, Ростовская область, Волгодонской р-н, ...",13704
20207,Ростов-на-Дону,Яхонов Б.А. ИП,"346380, Ростовская обл, Красносулинский р-н, Л...",13708
20208,Ростов-на-Дону,Яцкевич Е.Ю.ИП,"344002, Ростовская обл, Ростов-на-Дону г, Шосс...",15081

In [10]:
outlets_clean = outlets_clean.drop([4,5,6,7], axis=1).set_index('new_index')
outlets_clean.rename({1:'City_distributor', 2:'Trade_point', 3:'Addres'}, axis=1, inplace=True)

In [11]:
outlets_clean

,City_distributor,Trade_point,Addres
new_index,,,
1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.Глубокий, ул.Артёма 44"
2,Ростов-на-Дону,ИП Малышева,-
3,Ростов-на-Дону,Абасян А.П. ИП,он же
4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же
5,Ростов-на-Дону,Айдинов В.Я.,он же
...,...,...,...
15077,Ростов-на-Дону,Яковенко С.В.ИП,"346109, Ростовская обл, Миллеровский р-н, юго-..."
15078,Ростов-на-Дону,Яковлев Ю.А.ИП,"346735, Ростовская обл, Аксайский р-н, Рассвет..."
15079,Ростов-на-Дону,Яровая Д.А. ИП м-н Уголек,"346535, Ростовская обл, Шахты г, Победная ул, ..."
15080,Ростов-на-Дону,"Яровой А.Н. ИП ул.Потаржинского,3","346500, Ростовская обл, Шахты г, Потаржинского..."
15081,Ростов-на-Дону,Яцкевич Е.Ю.ИП,"344002, Ростовская обл, Ростов-на-Дону г, Шосс..."

In [12]:
# сохраним DataFrame в базу данных
# обновим значения outlet_clean_id в таблице outlets в базе данных
outlets_updated.to_sql('outlets', engine, if_exists='replace')

In [13]:
# сохраним clean DataFrame в базу данных
outlets_clean.to_sql('outlets_clean',engine, if_exists='replace')