In [1]:
import re
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#настройки для подключения к БД
engine = create_engine('postgresql://postgres:123@localhost:5432/hors')

In [3]:
# считаем данные из файла и запишем в DataFrame
f = open('outlets.sql', encoding='utf-8')
data = [list() for _ in range(6)]

for line in f:
    if line[:1] == '(':
        workline = line[1:-3].split('\'')
        data[0].append(workline[0].split(',')[0])
        data[1].append(workline[1])   
        data[2].append(workline[3])
        data[5].append(workline[3].lower())
        data[3].append(workline[5].lower())
        data[4].append(workline[6].strip(',').strip())
f.close;
outlets = pd.DataFrame(data).T
outlets.head(10)

,0,1,2,3,4,5
0,1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.глубокий, ул.артёма 44",NULL,ип гаврилов с.а.
1,2,Ростов-на-Дону,ИП Малышева,-,NULL,ип малышева
2,3,Ростов-на-Дону,Абасян А.П. ИП,он же,NULL,абасян а.п. ип
3,4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,NULL,"азатян н,с. ип ул. ленина"
4,5,Ростов-на-Дону,Айдинов В.Я.,он же,NULL,айдинов в.я.
5,6,Ростов-на-Дону,Алексеева Л П ИП,буденного 161,NULL,алексеева л п ип
6,7,Ростов-на-Дону,Алексеева Л П ИП,он же,NULL,алексеева л п ип
7,8,Ростов-на-Дону,ИП Алиева Т.М.,ип алиева т.м. п.газетный 39,NULL,ип алиева т.м.
8,9,Ростов-на-Дону,Алпатова В В ИП,он же,NULL,алпатова в в ип
9,10,Ростов-на-Дону,Алпатова В В ИП,ул гвардейская 34-а,NULL,алпатова в в ип

In [4]:
# исходное количество
outlets.shape[0]

20208

In [5]:
# консервативный метод 
# удалим только те записи, которые 100% совпдают (в нижнем регистре)
outlets_dedup1 = outlets.drop_duplicates(subset=5).reset_index()
outlets_dedup1.shape[0]

10936

In [6]:
# улучшенный метод )
# удалим слеши
outlets[5] = outlets[5].apply(lambda x: re.sub(r'\\','', x))
# удалим другие символы
outlets[5] = outlets[5].apply(lambda x: re.sub('[<>/",\.-]','', x))
# удалим пробелы
outlets[5] = outlets[5].apply(lambda x: x.replace(' ', ''))
# избавимся от дубликатов вида ("ИП ФИО" и "ФИО ИП")
outlets[5] = outlets[5].apply(lambda x: x.replace('ип', ''))
outlets_clean = outlets.copy()

In [7]:
# удалим дубликаты
outlets_clean.drop_duplicates(subset=5, inplace=True)

In [8]:
# пересчитаем id 
clear_index = 1
for index in outlets_clean.index:
    outlets_clean.loc[index, 'new_index'] = clear_index
    clear_index += 1 
outlets_clean['new_index'] = outlets_clean['new_index'].astype('int')
outlets_clean

,0,1,2,3,4,5,new_index
0,1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.глубокий, ул.артёма 44",NULL,гавриловса,1
1,2,Ростов-на-Дону,ИП Малышева,-,NULL,малышева,2
2,3,Ростов-на-Дону,Абасян А.П. ИП,он же,NULL,абасянап,3
3,4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,NULL,азатяннсулленина,4
4,5,Ростов-на-Дону,Айдинов В.Я.,он же,NULL,айдиноввя,5
...,...,...,...,...,...,...,...
20169,20170,Ростов-на-Дону,Юрко О.Р. ИП Парамонов,"346776, ростовская обл, азовский р-н, знаменка...",NULL,юркоорпарамонов,9834
20178,20179,Ростов-на-Дону,Яковенко С.В.ИП,"346109, ростовская обл, миллеровский р-н, юго-...",NULL,яковенкосв,9835
20183,20184,Ростов-на-Дону,Яковлев Ю.А.ИП,"346735, ростовская обл, аксайский р-н, рассвет...",NULL,яковлевюа,9836
20202,20203,Ростов-на-Дону,"Яровой А.Н. ИП ул.Потаржинского,3","346500, ростовская обл, шахты г, потаржинского...",NULL,яровойанулпотаржинского3,9837
20207,20208,Ростов-на-Дону,Яцкевич Е.Ю.ИП,"344002, ростовская обл, ростов-на-дону г, шосс...",NULL,яцкевичею,9838

In [9]:
#обновим внешний ключ (колонка outlet_clean_id) в тавблице outlets
outlets_updated = outlets.drop([4], axis=1).merge(outlets_clean.drop([0,1,2,3,4], axis=1), how='left', on=5)
outlets_updated

,0,1,2,3,5,new_index
0,1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.глубокий, ул.артёма 44",гавриловса,1
1,2,Ростов-на-Дону,ИП Малышева,-,малышева,2
2,3,Ростов-на-Дону,Абасян А.П. ИП,он же,абасянап,3
3,4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,азатяннсулленина,4
4,5,Ростов-на-Дону,Айдинов В.Я.,он же,айдиноввя,5
...,...,...,...,...,...,...
20203,20204,Ростов-на-Дону,Яровой А.Т.ИП,"346535, ростовская обл, шахты г, кошевого ул, ...",яровойат,8767
20204,20205,Ростов-на-Дону,"Яровой В.Т. ИП м-н \""Весна\""",-,яровойвтмнвесна,780
20205,20206,Ростов-на-Дону,Ярута С.М. ИП,"347332, ростовская область, волгодонской р-н, ...",ярутасм,8769
20206,20207,Ростов-на-Дону,Яхонов Б.А. ИП,"346380, ростовская обл, красносулинский р-н, л...",яхоновба,781
20207,20208,Ростов-на-Дону,Яцкевич Е.Ю.ИП,"344002, ростовская обл, ростов-на-дону г, шосс...",яцкевичею,9838

In [10]:
#Удалим ненужные столбцы, переименуем нужные
outlets_updated.drop([0,5], axis=1, inplace=True)
outlets_updated.rename({1:'City_distributor', 2:'Trade_point', 3:'Addres', 'new_index':'outlet_clean_id'}, axis=1, inplace=True)
outlets_updated

,City_distributor,Trade_point,Addres,outlet_clean_id
0,Ростов-на-Дону,ИП Гаврилов С.А.,"п.глубокий, ул.артёма 44",1
1,Ростов-на-Дону,ИП Малышева,-,2
2,Ростов-на-Дону,Абасян А.П. ИП,он же,3
3,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же,4
4,Ростов-на-Дону,Айдинов В.Я.,он же,5
...,...,...,...,...
20203,Ростов-на-Дону,Яровой А.Т.ИП,"346535, ростовская обл, шахты г, кошевого ул, ...",8767
20204,Ростов-на-Дону,"Яровой В.Т. ИП м-н \""Весна\""",-,780
20205,Ростов-на-Дону,Ярута С.М. ИП,"347332, ростовская область, волгодонской р-н, ...",8769
20206,Ростов-на-Дону,Яхонов Б.А. ИП,"346380, ростовская обл, красносулинский р-н, л...",781
20207,Ростов-на-Дону,Яцкевич Е.Ю.ИП,"344002, ростовская обл, ростов-на-дону г, шосс...",9838

In [11]:
# сохраним DataFrame в базу данных
# обновим значения outlet_clean_id в таблице outlets в базе данных
outlets_updated.to_sql('outlets', engine, if_exists='replace')

In [12]:
outlets_clean = outlets_clean.rename({1:'City_distributor', 2:'Trade_point', 3:'Addres', 'new_index':'id'}, axis=1).drop(
    [0,4,5], axis=1).set_index('id')
outlets_clean

,City_distributor,Trade_point,Addres
id,,,
1,Ростов-на-Дону,ИП Гаврилов С.А.,"п.глубокий, ул.артёма 44"
2,Ростов-на-Дону,ИП Малышева,-
3,Ростов-на-Дону,Абасян А.П. ИП,он же
4,Ростов-на-Дону,"Азатян Н,С. ИП ул. Ленина",он же
5,Ростов-на-Дону,Айдинов В.Я.,он же
...,...,...,...
9834,Ростов-на-Дону,Юрко О.Р. ИП Парамонов,"346776, ростовская обл, азовский р-н, знаменка..."
9835,Ростов-на-Дону,Яковенко С.В.ИП,"346109, ростовская обл, миллеровский р-н, юго-..."
9836,Ростов-на-Дону,Яковлев Ю.А.ИП,"346735, ростовская обл, аксайский р-н, рассвет..."
9837,Ростов-на-Дону,"Яровой А.Н. ИП ул.Потаржинского,3","346500, ростовская обл, шахты г, потаржинского..."
9838,Ростов-на-Дону,Яцкевич Е.Ю.ИП,"344002, ростовская обл, ростов-на-дону г, шосс..."

In [14]:
# сохраним DataFrame в базу данных
outlets_clean.to_sql('outlets_clean',engine, if_exists='replace')