In [1]:
import pandas as pd
df = pd.read_csv('Orders.csv')
df.head()

   client_id purchase_date
0        165     6/18/2015
1        205     6/23/2015
2        235     6/15/2015
3        250     5/25/2015
4        250     6/24/2015

In [2]:
#изменим формат даты
df['purchase_date'] = pd.to_datetime(df['purchase_date'])
df.head()

   client_id purchase_date
0        165    2015-06-18
1        205    2015-06-23
2        235    2015-06-15
3        250    2015-05-25
4        250    2015-06-24

In [3]:
#сохраним результаты в csv
df.to_csv('Orders_right_dateformat.csv', index=False)